.post-type-acf-form #wpbody-content .add-new-h2 {
  display: none;
}

#acf-forms-form-field-group th p {
  font-weight: normal;
}

.full-submission {
  display: none;
}

.open .full-submission {
  display: block;
}
